html,
body {
  height: 100%;
  font-family: "DM Serif Display", serif;
  font-size: 20px;
}

body {
  background-image: url("../images/b-bottom.png");
  width: 100%;
}

#quiz {
  justify-content: center;
  min-height: 200px;
  padding: 20px;
}

.title {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: rgb(223, 209, 91);
  margin-top: 100px;
  width: 70%;
}
